@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';

@import './components/index.css';
@import './utilities.css';

:root {
  --layout-max-with: 1400px;
  --layout-base-padding: 1rem;
  --nav-height: 64px;
}

body {
  @apply font--color;
  @apply base--tertiary;
  font-size: 1rem;
}

.blur-out {
  animation: blur-out 1s linear both;
}
@keyframes blur-out {
  0% {
    filter: blur(0.01px);
  }
  100% {
    filter: blur(12px);
    opacity: 0;
  }
}
